.cardBody:hover{
    Transform:scale(1.01);
}
.navbar{
    padding:0;
}
.logo{
    width: 100px;
    /* box-shadow: rgba(235, 235, 235, 0.25) 0px 30px 60px -12px, rgb(255, 255, 255) 0px 18px 36px -18px; */
}
.modal-dialog {
    position: absolute;
    top: 60px;
    right: 100px;
    bottom: 0;
    left: 0;
    z-index: 10040;
    overflow: auto;
    overflow-y: auto;
    /* box-shadow: rgb(0, 0, 0) 0px 30px 60px -12px, rgb(32, 32, 32) 0px 18px 36px -18px;  */

  }
  .inline-errormsg {
    color: red;
    font-size: 12px;
  }
  
#cardLogo{
    max-width: 100px;
    max-height:100px;
    /* box-shadow: rgba(235, 235, 235, 0.25) 0px 30px 60px -12px, rgb(255, 255, 255) 0px 18px 36px -18px; */
}